*{
    margin: 0px;
    padding: 0px;
}
.image{
    width: 100%;
    height: 100%;
}
.row{
    display: flex;
    height: auto;
    gap: 5px;
    margin-bottom: 10px;
}
.row > div{
    flex: 1;
}
.vertical-collage img{
    height: calc(( 100%  - 5px)/2);
}
.square-collage{
display: grid;
grid-template-columns: repeat(2,1fr);
}
/* medium devices */
@media screen  and(min-width:576px) and (max-width:992px){
    
}
